<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="AtCor EU-PWV" formatter="EntryLine Formatter" log=""
        machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName=".\system\logs\scor.log" header="" footer="" formatter="EntryLine Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{title} {timestamp(local:dd/MM/yyyy ~ HH:mm:ss.fff)} ~ {message}{newline}"
        name="EntryLine Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key = "MinYearForDOB" value = "1900" />
    <add key = "ServiceManualPath" value = "manuals\{culture}\ServiceManual.pdf" />
    <add key = "OperatorGuidePath" value = "manuals\{culture}\OperatorsManual.pdf" />
    <add key = "SupportURL" value = "http://atcormedical.com/support.html" />
	<add key = "AtcorHomepage" value = "http://atcormedical.com/"/>
    <add key = "ClientSettingsProvider.ServiceUri" value = "" />
	<add key = "DefaultCulture" value = "en-US"/>
	<add key = "DBDefaultFileName" value = "Atcor-Scor"/>
	<add key = "DBVersionNumber" value = "10.0"/>
	<add key = "QualityIndicatorImage" value = "TickMark.png"/>
	<add key = "QualityCrossImage" value = "CrossMark.png"/>
    <!-- WaitInterval is set to 1 as this value is set for the timer interval,
	since this value cannot be set to 0 as it will give a runtime error in the application
	hence keeping it to 1 millisecond-->  
	<add key = "WaitInterval" value = "1"/>
    <add key = "WarningImage" value = "warning1.png"/>
	<add key = "InfoImage" value = "info.gif"/>
	<add key = "DefaultInstanceName" value ="AtCorServer"/>
	<add key = "CEMarkImage" value = "CEMarkSGS"/>
    <add key = "Version" value = "10"/>
    <add key = "Copyright" value = "2011"/>
	<add key = "AnalysisFontName" value = "Arial"/>
	<add key = "AnalysisFontMax" value = "10"/>
	<add key = "AnalysisFontMin" value = "6"/>
	<add key = "ChartAreaMinY" value = "0.96"/>
	<add key = "ChartAreaMaxY" value = "1.04"/>
	<add key = "GuiFontName" value = "Verdana"/>	
	<add key = "GuiBackColor" value = "White"/>
	<add key = "SetupScreenDirect" value = "SetupScreenDirect_Small.jpg"/>
	<add key = "SetupScreenSubtracting" value = "SetupScreenSubtracting_small.jpg"/>
	  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>