<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SystemSetting>
    <General>
      <User>
        <PatientPrivacy>No</PatientPrivacy>
        <HeightandWeightUnits>Metric</HeightandWeightUnits>
        <BloodPressureEntryOptions> </BloodPressureEntryOptions>
        <CommsPort> </CommsPort>
        <ReportTitle> </ReportTitle>
        <ReportLogo> </ReportLogo>
        <ChangeReportLogo> </ChangeReportLogo>
      </User>
      <Default>
        <PatientPrivacy>No</PatientPrivacy>
        <HeightandWeightUnits>Metric</HeightandWeightUnits>
        </Default>
    </General>

    <PWV>
      <User>
      </User>
      <Default>
      </Default>
    </PWV>

  </SystemSetting>
</configuration>
